.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* quiz page */

.main-cont {
  border: 1px solid black;
  height: 500px;
}

.quizPage{
  border: 1px solid red;
  height: 100%;
 display: grid;
}

.questionArea{
  background-color: blue;
}

.AnswerArea{
  background-color: #61dafb;
  padding: 30px 30px;
  display: grid;
   
}
.btns {
  margin: 10px 0px;
}

.the-question{
  color: white;
  font-size: 58px;
}

#next {
  width: 200px;
  height: 50px;
  font-size: 28px;
  border: #282c34;
  margin: 20px 10px;
  cursor: pointer ;
}